# ===== mihomo / Clash.Meta（RULE-SET + GEOSITE/GEOIP 兜底） =====

mixed-port: 7890 # HTTP(S)和SOCKS代理混合端口
ipv6: true # 是否允许内核接受IPv6流量
allow-lan: false # 允许局域网: 允许其他设备经过内核的代理端口访问互联网
unified-delay: true # 更换延迟计算方式: 去除握手等额外延迟
tcp-concurrent: true # TCP并发
external-controller: 127.0.0.1:9090 # 外部控制器(HTTP)监听地址: ipv4:端口
external-ui: ui # 外部用户界面路径(默认:工作目录/ui): 可以将静态网页资源运行在RESTful API(可以为绝对路径,或者内核工作目录的相对路径)
external-ui-url: "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip" # 外部用户界面压缩包下载地址: 支持文件格式：zip、tgz
mode: rule
# 运行模式:
# - global: 全局代理
# - rule: 规则匹配
# - direct: 全局直连
log-level: info
# 日志级别:
# - debug: 尽可能的输出运行中所有的信息
# - info: 输出一般运行的内容，以及error和warning级别的日志
# - warning: 输出发生错误但不影响运行的日志,以及error级别内容
# - error: 仅输出发生错误至无法使用的日志
# - silent: 静默,不输出

geodata-mode: true # GeoIP数据模式: 更改geoip使用文件(true: dat, false: mmdb)
# geox-url配置
geox-url:
  geoip: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geoip-lite.dat" # geoip文件下载地址
  geosite: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/geosite.dat" # geosite文件下载地址
  mmdb: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/country-lite.mmdb" # mmdb文件下载地址
  asn: "https://github.com/MetaCubeX/meta-rules-dat/releases/download/latest/GeoLite2-ASN.mmdb" # asn文件下载地址

find-process-mode: strict
# 进程匹配模式:
# - always: 强制匹配所有进程
# - strict: 由内核判断是否开启
# - off: 不匹配进程,推荐在路由器上使用此模式
global-client-fingerprint: chrome
# 全局客户端指纹:
# 支持协议有VLESS,Vmess,trojan
# - chrome
# - chrome_psk
# - chrome_psk_shuffle
# - chrome_padding_psk_shuffle
# - chrome_pq
# - chrome_pq_psk
# - firefox
# - safari

# 缓存配置
profile:
  store-selected: true # 持久化策略组的选择: 缓存对策略组的选择,以供下次启动时使用
  store-fake-ip: true # 持久化缓存fake-ip映射表: 缓存fake-ip映射表,域名再次发生连接时,使用原有映射地址

# 域名嗅探配置
sniffer:
  enable: true
  # 启用域名嗅探： 
  # Clash使用Mapping机制解决透明代理情况下,无法通过Redir端口传递域名的问题。
  # 但此机制会导致如果不使用Clash内置的DNS解析服务,就无法准确还原域名,进行域名分流的问题。
  # Meta内置了Sniffer域名嗅器,通过读取握手包内的域名字段,将IP还原成域名,有效解决Mapping机制的短板。
  
  # 域名嗅探规则
  sniff:
    HTTP:
      ports: [80, 8080-8880] # 嗅探端口列表
      override-destination: true # 启用嗅探结果作为实际访问
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  # 需要跳过嗅探的域名: 默认情况下只对IP进行嗅探
  skip-domain:
    - "Mijia Cloud"
    - "+.push.apple.com"

# tun配置
tun:
  enable: false # 启用TUN模式
  stack: mixed
  # TUN模式堆栈:
  # 如无使用问题,建议使用mixed(默认gvisor)
  # - system: 基于系统网络栈执行L3到L4转换。可以提供更稳定/全面的TUN体验,且占用相对其他堆栈更低。
  # - gvisor: 基于gVisor虚拟网络栈执行L3到L4转换。通过在用户空间中实现网络协议栈,可以提供更高的安全性和隔离性,同时可以避免操作系统内核和用户空间之间的切换,从而在特定情况下具有更好的网络处理性能。
  # - mixed: 混合堆栈,tcp使用system栈,udp使用gvisor栈,使用体验可能相对更好。
  
  # DNS劫持: 一般设置为any:53即可,即劫持所有53端口的udp流量
  dns-hijack:
    - "any:53"
    - "tcp://any:53"
  auto-route: true # 自动设置全局路由: 可以自动将全局流量路由进入TUN网卡
  auto-redirect: true
  # 自动重定向
  # 自动配置iptables/nftables以重定向TCP连接(需要启用auto-route)。
  # 在Android中：仅转发本地 IPv4连接，要通过热点或中继共享您的VPN连接，请使用VPNHotspot。
  # 在Linux中：带有auto-route的auto-redirect现在可以在路由器上按预期工作，无需干预。
  auto-detect-interface: true # 自动选择流量出口接口: 多出口网卡同时连接的设备建议手动指定出口网卡

# DNS配置
dns:
  enable: true # 启用DNS: 关闭将使用系统DNS
  ipv6: true # 是否解析IPV6: 如为false,则回应内容为AAAA的空解析
  enhanced-mode: fake-ip
  # DNS处理模式:
  # - normal: 普通模式
  # - fake-ip: fake-ip模式
  # - redir-host: redir-host模式
  
  # fake-ip过滤: 哪些域名不使用fake-ip
  fake-ip-filter:
    - "*"
    - "+.lan"
    - "+.local"
    - "+.market.xiaomi.com"
  # 元域名解析服务器: 解析nameserver,fallback以及其他DNS服务器配置的DNS服务器(只能使用纯IP地址,支持UDP,TCP,DoT,DoH,DoQ)
  default-nameserver:
    - tls://223.5.5.5
    - tls://223.6.6.6
  # 默认域名解析服务器: 支持UDP,TCP,DoT,DoH,DoQ
  nameserver:
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
